@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

* {
    box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
}
:root {
    --primary: #43a23a;
    --secondary: #dd0000;
    --bg: #f2efeb;
    --white: #ffffff;
    --dark: #121212;
    --gold: #ffcf4b;
    --green: #43a23a;
}
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
}
p {
    line-height: 150%;
    margin: 0 0 .5rem 0;
}
.lead {
    font-size: 1.5rem;
    font-weight: 300;
}
h1, h2, h3, h4 {
    font-family: "Barlow Condensed", Impact;
    font-weight: 700;
    line-height: 150%;
    margin: 0;
}
h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.2rem; font-weight: 500; }
em { font-style: italic; color: var(--dark); opacity: .6; }

/* Navbar */
header {
    background-color: var(--gold);
    border-bottom: 1px solid #00000011;
}
header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
}
header .brand {
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 3.2rem;
    font-weight: 900;
    color: var(--dark);
    letter-spacing: 0px;
    text-decoration: none;
}
header .brand .red {
    font-weight: 900;
    width: 32px;
    margin-left: -8px;
    color: var(--secondary);
}
header .brand img {
    height: 70px;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    max-width: 1170px;
}
header nav h1 {
    margin: 0;
    padding: 0;
    line-height: 100%;
}
header .link {
    color: var(--dark);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1.3rem 0;
    border-bottom: .3rem solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
header .link i {
    display: none;
    font-size: 1.5rem;
}
header .link.active {
    color: var(--secondary);
    border-bottom: .3rem solid var(--secondary);
}
header .link:hover {
    color: var(--secondary);
}

/* Responsive Header */
.responsive-header {
    max-width: 1170px;
    margin: 0 auto;
    display: none;
    flex-direction: row;
    justify-content: start;
    gap: 4rem;
    padding: 2rem;
    position: fixed;
    background: transparent;
    top: 0;
}
.responsive-header .back {
    font-size: 1.8rem;
    color: var(--dark);
    background: var(--bg);
    padding: 1rem 1.2rem;
    border-radius: 50%;
}
.responsive-header .back:hover {
    color: var(--secondary);
}

/* Home - Hero */
.hero {
    background: #000000 url(img/hero-bg-2.jpg) no-repeat;
    background-size: cover;
    color: var(--gold);
}
.hero .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: stretch;
    max-width: 1170px;
    min-height: 540px;
    margin: 0 auto;
}
.hero .title-1,
.hero .title-2,
.hero .title-3,
.hero .title-4 {
    font-family: "Barlow Condensed", Impact;
    font-weight: 700;
    color: var(--gold);
}
.hero .title-1 { font-size:4rem;   filter:blur(2px);    animation-name: heroText;   animation-duration: 1s;  }
.hero .title-2 { font-size:5rem;   filter:blur(1px);    animation-name: heroText;   animation-duration: 2s;  }
.hero .title-3 { font-size:5.5rem; filter:blur(1px);    animation-name: heroText;   animation-duration: 3s;   line-height:100%; }
.hero .title-4 { font-size:9rem;   filter:blur(0px);    animation-name: heroText;   animation-duration: 4s;   line-height:95%; }
.hero .col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.hero .col-1 div {
    position: relative;
}
.hero .col-2 {
    position: relative;
    padding: 2rem 0;
    text-align: center;
}
.hero .tomato {
    position: absolute;
    left: -60px;
    top: -45px;
    rotate: 90deg;
    animation-name: heroTomato;
    animation-duration: 6s;
}
.hero .pepper {
    position: absolute;
    max-width: 100%;
    bottom: 0px;
    right: 0px;
    animation-name: heroPepper;
    animation-duration: 4s;
    z-index: 100;
}
.hero .chilli {
    position: absolute;
    right: 0px;
    top: 0;
    rotate: 0deg;
    animation-name: heroChilli;
    animation-duration: 4s;
}
.hero .pizza {
    width: 90%;
    animation-name: heroPizza;
    animation-duration: 1s;
}
@keyframes heroPizza {
    0% { rotate:-15deg; opacity:0; width:70%; }
    100% { rotate:0deg; opacity:1; width:90%; }
}
@keyframes heroText {
    0%   { opacity:0; top: 20px; }
    100% { opacity:1; top:0px; }
}
@keyframes heroTomato {
    0%   { opacity:0; left: -20px; }
    100% { opacity:1; left: -60px; }
}
@keyframes heroPepper {
    0%   { opacity:0; right: 60px; }
    100% { opacity:1; right: 0px; }
}
@keyframes heroChilli {
    0%   { opacity:0; top:40px; right: 40px;   rotate: 25deg; }
    100% { opacity:1; top:0px;  right: 0px; rotate: 0deg; }
}

/* Home - Popular */
.popular {
    padding: 3rem 1rem 0 1rem;
    background-color: var(--bg);
    min-height: 698px;
}
.popular .title {
    max-width: 1170px;
    margin: 2rem auto;
}
.popular .container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: start;
    max-width: 1170px;
    margin: 0 auto;
}
.popular .item {
    width: 33.3%;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: var(--white) url(img/dish_bg.svg) no-repeat;
    background-size: cover;
    transition: all .3s ease-in-out;
    border-radius: 1rem;
    cursor: pointer;
}
.popular .item .content {
    padding: 1rem;
    text-align: center;
    gap: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular .item:hover {
    background: var(--gold) url(img/dish_bg.svg) no-repeat;
    background-size: cover;
    transition: all .8s ease-in-out;
    min-height: 412px;
}
.popular .item img {
    width: 80%;
    height: auto;
    transition: all 6s ease-in-out;
}
.popular .item:hover img {
    animation-name: pizza;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pizza {
    0%   { rotate:0; }
    100% { rotate:360deg; }
}

.popular .item:hover .name {
    transform: scale(1.2);
    transition: all .6s ease-in-out;
}
.popular .item .desc {
    display: none;
}
.popular .item:hover .desc {
    display: block;
    animation-name: showHide;
    animation-duration: 2s;
}
.popular .item .btn {
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 4px;
    padding: .5rem 2rem;
    text-decoration: none;
    font-family: "Barlow Condensed", Impact;
    font-weight: 500;
    display: none;
}
.popular .item:hover .btn {
    display: block;
    animation-name: showHide;
    animation-duration: 2s;
}
.popular .item .btn:hover {
    background-color: var(--dark);
}
@keyframes showHide {
    0%   { opacity:0; display:none; }
    20%   { opacity:0; display:none; }
    100% { opacity:1; display:block; }
}

/* Home - Marquee */
.marquee {
    padding: 2rem 0;
    background-color: var(--bg);
}
.marquee marquee {
    font-size: 6rem;
    line-height: 100%;
    font-family: "Bungee Outline", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--dark);
}

/* Home - History */
.history {
    background: url("img/history_bg.jpg") no-repeat;
    background-size: cover;
}
.history .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 3rem 1rem;
    display: flex;
}
.history .container .col-1,
.history .container .col-2 {
    width: 50%;
}
.history .content {
    padding: 2rem 3rem;
    background-color: #ffffff77;
    border-radius: 1rem;
}
.history .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.history .title img {
    width: 128px;
}

/* Home - Feature section */
.features {
    background-color: var(--gold);
    padding: 3rem 1rem;
}
.features .container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: start;
    max-width: 1170px;
    margin: 0 auto;
}
.features .item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2;
}
.features .item p {
    margin: 0;
}
.features .item img {
    height: 80px;
    margin-bottom: 1rem;
}

/* Home - Testimonial */
.testimonial {
    background: var(--dark) url(img/testimonals_bg.png) no-repeat;
    background-size: cover;
    padding: 4rem 0;
    color: var(--white);
}
.testimonial .container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}
.testimonial .col-1 {
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: start;
}
.testimonial .col-2 img {
    width: 100%;
    max-width: 320px;
    height: auto;
}
.testimonial .col-1 img {
    width: 56px;
    height: auto;
}
.testimonial .col-1 .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.testimonial .stars i {
    font-size: 1.5rem;
    color: var(--secondary);
}
.testimonial .col-2 img {
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: var(--bg);
    padding: 2rem 0;
}
footer .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
}
footer .social {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
footer .social i {
    font-size: 1.75rem;
    color: var(--dark);
    transition: all .3s ease-in-out;
}
footer .social a:hover i {
    color: var(--secondary);
}

/* Details */
.details {
    background-color: var(--bg);
    padding: 2rem 0;
}
.details .container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    padding: 2rem
}
.details .ingredients {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}
.details .ingredients .item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.details .ingredients .item i {
    font-size: 1.5rem;
    color: var(--secondary);
    background-color: #eee;
    width: 50px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
.details .ingredients .item p {
    width: 100%;
    line-height: 100%;
    margin: 0;
}

/* Details - Testimonials */
.testimonials {
    background-color: var(--bg);
    border-top: .5px solid #00000022;
    padding: 2rem 0;
}
.testimonials h1 {
    width: 100%;
    text-align: center;
}
.testimonials .container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    padding: 2rem;
}
.testimonials .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    width: 33.3%;
}
.testimonials .item .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.testimonials .item .avatar {
    width: 128px;
    border-radius: 50%;
}

/* Details - Reservation */
.reservation {
    background: var(--dark) url(img/testimonals_bg.png) no-repeat;
    background-size: cover;
    padding: 4rem 0;
    color: var(--white);
}
.reservation .container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    padding: 2rem
}
.reservation .col-1,
.reservation .col-2 {
    width: 50%;
}
.reservation .col-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.reservation .col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.reservation form {
    width: 90%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.reservation form input {
    padding: .5rem 1rem;
    font-size: 1.2rem;
}
.reservation form button {
    padding: 1rem 1rem;
    font-size: 1.2rem;
    background-color: var(--gold);
}
.reservation h4 {
    color: var(--gold);
}

/* Tablet layout */
@media screen and (max-width: 1024px) {
    .container {
        max-width: 740px;
    }
}

/* Mobile layout */
@media screen and (max-width: 768px) {
    * {
        /* font-size: 14px; */
    }
    body {
        font-size: 16px;
    }
    header {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 120;
    }
    header .container {
        justify-content: space-evenly;
    }
    header .brand {
        display: none;
    }
    header nav {
        width: 100%;
        gap: 0;
    }
    header .link {
        width: 25%;
        opacity: .8;
        font-size: 1rem;
    }
    header .link.active {
        opacity: 1;
    }
    header .link:hover {
        opacity: 1;
    }
    header .link i {
        display: block;
    }
    .hero {
        height: calc(100vh - 97px);
    }
    .hero .container {
        flex-direction: column;
        gap: 0;
        height: 100%;
    }
    .hero .col-1 {
        padding: 2rem 2rem 0 2rem;
    }
    .hero .col-2 {
        padding: 0;
        height: 320px;
    }
    .hero .pizza {
        width: 90%;
    }
    .hero .tomato {
        top: 167px;
        bottom: auto;
        rotate: 270deg;
    }
    .popular .container {
        flex-direction: column;
    }
    .popular .item {
        width: 100%;
    }
    .popular .item img {
        animation-name: pizza;
        animation-duration: 12s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    .popular .item .name {
        transform: scale(1.2);
        transition: all .6s ease-in-out;
    }
    .popular .item .desc {
        display: block;
        animation-name: showHide;
        animation-duration: 2s;
    }
    .popular .item .btn {
        display: block;
        animation-name: showHide;
        animation-duration: 2s;
    }
    .features .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .features .item {
        width: 40%;
    }
    .history .container .col-1 {
        display: none;
    }
    .history .container .col-2 {
        width: 100%;
        background-color: #ffffff99;
    }
    .testimonial {
        padding: 2rem;
    }
    .testimonial .col-1 {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 0;
    }
    .testimonial .col-2 {
        display: none;
    }
    footer {
        padding-bottom: 120px;
    }
    footer .social i {
        font-size: 2rem;
    }
    footer .content {
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 2rem 0;
    }

    .responsive-header {
        display: flex;
    }

    .details .container {
        flex-direction: column;
        gap: 0;
    }
    .details .col-1 img {
        width: 90%;
    }

    .testimonials .container {
        flex-direction: column;
    }
    .testimonials .item {
        align-items: center;
        width: 100%;
    }
    .testimonials .item .content {
        align-items: center;
        text-align: center;
    }

    .reservation .container {
        flex-direction: column;
        gap: 2rem;
        padding-top: 0;
    }
    .reservation .col-1, .reservation .col-2 {
        width: 100%;
    }
    .reservation form {
        width: 100%;
    }
}
